<!DOCTYPE html>
<html>
<head>
  <title>Lotto Raffle</title>
  <link rel="stylesheet" href="lotto.css">
</head>
<body>
  <center>
    <br><br>
    <input type="number" id="lottoInput" placeholder="Enter the number of cases" min="1"><br>
    <button type="button" id="lottoBtn" onclick="analysis()">Lotto Analysis</button><br>
  </center>
  <div id="analysisLotto"></div><br>
  <div id="lottoTable"></div>
  <script src="lotto.js"></script>
</body>
</html>